In [18]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# show first 3 shows
df.head(3)

          A         B         C         D
a -0.958973  2.011839  0.982392  1.462130
b  0.738227 -1.467197  0.689239  0.535318
c -0.646944 -0.358603 -0.050590 -0.087012

In [20]:
# row 0, all columns
df.loc['a', :]

A   -0.958973
B    2.011839
C    0.982392
D    1.462130
Name: a, dtype: float64

In [21]:
# rows 0, 1, 2
# all columns
df.loc[['a', 'b', 'c'], :]

          A         B         C         D
a -0.958973  2.011839  0.982392  1.462130
b  0.738227 -1.467197  0.689239  0.535318
c -0.646944 -0.358603 -0.050590 -0.087012

In [24]:
# same as above
df.loc['a':'c', :]

          A         B         C         D
a -0.958973  2.011839  0.982392  1.462130
b  0.738227 -1.467197  0.689239  0.535318
c -0.646944 -0.358603 -0.050590 -0.087012

In [25]:
# if you leave off ", :" pandas would assume it's there
# but you should leave it there to improve code readability
df.loc['a':'c']

          A         B         C         D
a -0.958973  2.011839  0.982392  1.462130
b  0.738227 -1.467197  0.689239  0.535318
c -0.646944 -0.358603 -0.050590 -0.087012

In [26]:
# all rows
# column: B
df.loc[:, 'B']

a    2.011839
b   -1.467197
c   -0.358603
d    0.181864
e   -1.393782
f    0.111947
g    0.135313
h    0.079173
Name: B, dtype: float64

In [27]:
# similar code for B through D
df.loc[:, 'B':'D']

          B         C         D
a  2.011839  0.982392  1.462130
b -1.467197  0.689239  0.535318
c -0.358603 -0.050590 -0.087012
d  0.181864 -1.121404 -1.071459
e -1.393782 -0.470086 -0.680834
f  0.111947 -1.684332  0.316198
g  0.135313 -0.712351  1.120596
h  0.079173 -0.671274  0.091666

In [ ]:
#select all rows for a specific column
print (df.loc[:,'A'])

#Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

In [6]:
# Select few rows for multiple columns, say list[]
print( df.loc[['a','b','f','h'],['A','C']])

          A         C
a -1.490403 -0.202893
b  0.326884  0.381885
f  0.051058 -0.588767
h -0.356991 -1.612385

In [7]:
# Select range of rows for all columns
print (df.loc['a':'h'])

          A         B         C         D
a -1.490403  1.887060 -0.202893  0.707823
b  0.326884  0.326446  0.381885  0.586120
c  0.226275  0.249536 -0.093573  1.526812
d -1.323985 -0.376099 -0.981464 -0.713888
e  0.540857  0.637105 -0.473116 -2.063304
f  0.051058  2.223532 -0.588767  1.372965
g  1.385412  0.751320 -0.118992 -0.185812
h -0.356991  0.810129 -1.612385 -0.671680

In [8]:
# for getting values with a boolean array
print (df.loc['a']>0)

A    False
B     True
C    False
D     True
Name: a, dtype: bool

In [12]:
# select all rows for a specific column
print (df.iloc[:5])
print (df.iloc[1:5, 2:4])

          A         B         C         D
a -1.490403  1.887060 -0.202893  0.707823
b  0.326884  0.326446  0.381885  0.586120
c  0.226275  0.249536 -0.093573  1.526812
d -1.323985 -0.376099 -0.981464 -0.713888
e  0.540857  0.637105 -0.473116 -2.063304
          C         D
b  0.381885  0.586120
c -0.093573  1.526812
d -0.981464 -0.713888
e -0.473116 -2.063304